alembic==1.15
attrs==25.3.0
celery==5.5.2
psycopg2-binary==2.9.10
python-dotenv==1.1.0
pytz==2025.2
redis==5.3.0
requests==2.32.3
requests-file==2.1.0
Scrapy==2.12.0
selenium==4.32.0
setuptools==80.3.1
SQLAlchemy==2.0.40
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
websocket-client==1.8.0
eventlet==0.39.1
